body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Prevent scrolling on body */
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    overflow: hidden;
}

h1 {
    color: #1AB8E5;
}

.input-file,
.input-number {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

.btn {
    background: linear-gradient(90deg, #1AB8E5 0%, #3B89EB 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: linear-gradient(90deg, #3B89EB 0%, #1AB8E5 100%);
}

.video-segments {
    margin-top: 20px;
    max-height: 300px; /* Set a fixed height for the segments container */
    overflow-y: auto; /* Enable vertical scrolling */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

video {
    display: block;
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
